.dashboard {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background: #111827;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.sidebar li:hover,
.sidebar .active {
  background: #facc15;
  color: black;
}

.main-content {
  flex: 1;
  padding: 40px;
}